# List()

1. What are lists in Python? Explain with example.
==> Unlike C++ or Java, Python Programming Language doesn’t have arrays. To hold a sequence of values, then, it provides the ‘list’ class. A Python list can be seen as a collection of values.

colors=['red','green','blue']
days=['Monday','Tuesday','Wednesday',4,5,6,7.0] #A Python list may hold different types of values.
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish'] #A list may have python list.

languages=[('English','Albanian'),'Gujarati','Hindi','Romanian','Spanish'] #A list may also contain tuples or so.

In [6]:
# 2. How to get the elements of a list in Python?
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']
print(languages)
print(languages[0])
print(languages[2:4])
print(languages[:-2])

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']
['English']
[['Hindi'], 'Romanian']
[['English'], ['Gujarati'], ['Hindi']]

In [8]:
# 3. How to make a list in a list Python?
grocery_list=[['caramel','P&B','Jelly'],['onions','potatoes'],['flour','oil']] # Multidimensional Lists in Python
grocery_list

[['caramel', 'P&B', 'Jelly'], ['onions', 'potatoes'], ['flour', 'oil']]

4. What are lists used for in Python?
Lists are used to store multiple items in a single variable.
Lists are great to use when you want to work with many related values. They enable you to keep data together that belongs together, condense your code, and perform the same methods and operations on multiple values at once.

5. What are lists called in Python?
The list are basically replacemnet of arrays in Python.`r

In [1]:
#Multi dimentional list
list1=[[1,2],3]
list1[0][1]

2

In [5]:
list2=[0,1,2,3,4,5]
print(list2[2:4])
print(list2[:4])
print(list2[:-2])
print(list2[-2:-1])

[2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]
[4]

In [7]:
colors=['blue','range','red','white','black']
print(colors)
colors[2:4]=['bronze','silver']
print(colors)
del colors[2:4]
print(colors)

['blue', 'range', 'red', 'white', 'black']
['blue', 'range', 'bronze', 'silver', 'black']
['blue', 'range', 'black']

In [8]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [9]:
[2,1]*2

[2, 1, 2, 1]

In [10]:
1 in [2,1]

True

In [11]:
for num in [1,2,3]: print(num)

1
2
3

In [18]:
#list comprehension to get list of twice of nos divisble by 3 between 1-10
[2*num for num in range(1,11) if num%3==0]

[6, 12, 18]

In [22]:
a=[3,1,2]
print(len(a))
print(max(a))
print(sum(a))
print(sorted(a))

3
3
6
[1, 2, 3]

In [24]:
a.append(4)
print(a)
a.insert(3,5) #inserts value 5 at index 3
print(a)

[3, 1, 2, 4, 4]
[3, 1, 2, 5, 4, 4]

In [31]:
a=[2,1,3,5,2,4]
print(a)
a.remove(2) # removes 1st occurance of 2
print(a)
a.pop(3) # removs 3rd index
print(a)
print(a.count(2))
a.sort()
print(a)

[2, 1, 3, 5, 2, 4]
[1, 3, 5, 2, 4]
[1, 3, 5, 4]
0
[1, 3, 4, 5]

In [37]:
#WAP to accept a string of multiple words then print word back to front
def front_to_back(string):
    list1=string.split(' ')
    return list1[::-1]

print(front_to_back('Hello World'))
print(front_to_back('Python Data Science'))

['World', 'Hello']
['Science', 'Data', 'Python']

In [39]:
#Another way using reversed function
def front_to_back(string):
    return ' '.join(reversed(string.split(' ')))

print(front_to_back('Hello World'))
print(front_to_back('Python Data Science'))

World Hello
Science Data Python

In [52]:
# WAF to accept nos in a list then print the ones that occure more than onece.
def count():
    list1=input("Enter nos seperated by comma: ").split(',')
    list2=[]
    for i in list1:
        if list1.count(i)>1:
            if i not in list2:
                list2.append(i)
    return list2

count()

Enter nos seperated by comma: 1,2,3,4,2,6,1,2,3,7,8,9,9

['1', '2', '3', '9']

In [59]:
# Infinite Articles -- WAF to prepend a indefinite noun [a,an] for appropriate article

def add_indinite_aticle(article):
    list1=list(article)
    list_v=['a','e','i','o','u']
    if list1[0] in list_v:
        return 'an '+article
    else:
        return 'a '+article
        
print(add_indinite_aticle('apple'))
print(add_indinite_aticle('orange'))
print(add_indinite_aticle('butterfly'))
print(add_indinite_aticle('cake'))
print(add_indinite_aticle('umbrella'))

an apple
an orange
a butterfly
a cake
an umbrella

In [60]:
vowels=['a','e','i','o','u']
def add_aticle(noun):
    return 'an '+noun if noun[0] in vowels else 'a '+noun

print(add_aticle('apple'))
print(add_aticle('orange'))
print(add_aticle('butterfly'))
print(add_aticle('cake'))
print(add_aticle('umbrella'))

an apple
an orange
a butterfly
a cake
an umbrella

In [64]:
# WAF to understand the color coding of 4 band resistor it takes 1st 3 values [ignores tolerance] and calculates the resistance in ohms

color_codes=['black','brown','red','orange','yellow','green','blue','voilet','grey','white']
def calc_resistance(digit1,digit2,multiplier):
    return str((color_codes.index(digit1)*10+color_codes.index(digit2))*10**color_codes.index(multiplier))+' ohms'

calc_resistance('yellow','blue','white') # (4*10+6)*10^9

'46000000000 ohms'