In [1]:
len('hello')

5

In [2]:
# casting string to list
list('hello!')

['h', 'e', 'l', 'l', 'o', '!']

In [4]:
# concating two strings

first_string = 'hello'
second_string = 'world'
new_string = first_string + second_string

new_string

'helloworld'

In [5]:
# copies of string by multiplication 

string = 'hello'
(string + ' ') *5

'hello hello hello hello hello '

In [9]:
#string methods

# make uppercase
print('hello'.upper())

# make lowercase
print('HELLO'.lower())

# capitalize
print('hello'.capitalize())

# title
print('hello world'.title())

HELLO
hello
Hello
Hello World

In [10]:
# split a word 
'hello'.split(sep = 'e')

['h', 'llo']

In [12]:
sent = 'hello world'
sent.split(sep = ' ')

['hello', 'world']

In [13]:
# reverse a string
s = 'hello'
s[::-1]

'olleh'

In [16]:
# strip part of a string
'hi there'.strip('hi ')

'there'

In [17]:
# replace a character
print('hello'.replace('l', 'L'))

# replace a word
print('hello world'.replace('world', 'WORLD'))

heLLo
hello WORLD

In [20]:
# join() method you can join a list of characters or words into a longer string object.

# join a list of letters
s = ['h', 'e', 'l', 'l', 'o']
print(''.join(s))

# join a list of words 
w = ['hello', 'world']
print('-'.join(w))

hello
hello-world

In [22]:
# counting characters
sent = 'His name is Abdul. Abdul is a good boy. Boy o boy'
print(sent.count('a'))

# counting the occurance of an word
print(sent.count('boy'))

2
2

In [23]:
# count ALL characters in a string
from collections import Counter
Counter('aaaaabbbbbbxxxxxx')

Counter({'a': 5, 'b': 6, 'x': 6})

In [26]:
# counting ALL words in a sentence
sent = 'His name is Abdul. Abdul is a good boy, boy o boy'
word_list= sent.split(' ')
Counter(word_list)

Counter({'His': 1,
         'name': 1,
         'is': 2,
         'Abdul.': 1,
         'Abdul': 1,
         'a': 1,
         'good': 1,
         'boy,': 1,
         'boy': 2,
         'o': 1})

In [27]:
#Associated .most_common() method returns tuples of items occurring in the highest frequencies.
Counter(word_list).most_common(3)

[('is', 2), ('boy', 2), ('His', 1)]

Accessing
Accessing individual items by index or accessing index by items is quite useful.

In [30]:
#To access the index of a character/word:
'hello how are you'.find('how')

6

In [29]:
#access a character/word by index:
s = 'hi there'
s[3]

't'

In [31]:
#slicing
s = 'hi there'
s[0:4]

'hi t'

In [32]:
#f-string
name = 'Anna'
age = 23
print(f"my name is {name} and I am {age} years old")

my name is Anna and I am 23 years old

In [34]:
# f string numbers
div = 11/3
print(f'the result of the division is {div}') 
print(f'the result of the division is {div:2.3f}')

the result of the division is 3.6666666666666665
the result of the division is 3.667

In [35]:
#Regular Expression

import re
text = 'hello my phone number is (000)-111-2222'
pattern = 'phone'
re.search(pattern, text)

In [36]:
text = 'my zipcode is 22202'
pattern = r'\d\d\d\d\d' #search for number patterns in a specific format
re.search(pattern, text)

In [40]:
#“wildcard”, represented by the .(dot) metacharacter.

# input text
text = 'the dog and the hog sat in the fog'
# regex search
re.findall(r'.og', text)

['dog', 'hog', 'fog']