# Python Variables and Data types

A variable is a container for a value. It can be assigned a name, you can use it to refer to it later in the program.

In [2]:
flag=0
_9lives='cat'
year2='Sophomore'
name='Ayushi'
# valid variable names

In [3]:
_$$=7
9lives=9
# invalid variable names

SyntaxError: invalid syntax (Temp/ipykernel_10012/866560351.py, line 1)

### Assigning and Reassigning Python Variables

In [4]:
age=7
print(age)
age='Dinosaur'
print(age)

7
Dinosaur

In [6]:
str1
#cannot use Python variables before assigning it a value.

NameError: name 'str1' is not defined

### Multiple Assignment

In [11]:
age,city=21,'Indore'
print(age,city)
age=fav=7
print(age,fav)

21 Indore
7 7

### Swapping Variables

In [10]:
a,b='red','blue'
print(a,b)
a,b=b,a
print(a,b)

red blue
blue red

### Deleting Variables

In [13]:
a='red'
print(a)
del a
print(a)

red

NameError: name 'a' is not defined

# Python Data Types

### 1. Python Numbers

In [15]:
#int
a=-7
type(a)

int

In [17]:
#float
a=3.0
type(a)

float

In [18]:
#complex
>>> a=2+3j
>>> type(a)

complex

### 2. Strings

In [19]:
city='Ahmedabad'
city

'Ahmedabad'

In [20]:
#Spanning a String Across Lines
var="""If
"""
var

'If\nonly'

In [50]:
str1='saurabh'
str1[2]='v' # strings are immutable

TypeError: 'str' object does not support item assignment

In [22]:
#Displaying Part of a String -- indexing
lesson='disappointment'
print(lesson[0])
print(lesson[5:10])

d
point

In [24]:
#String Formatters
# % operator
x=10;
printer="Dell"
print("I just printed %s pages to the printer %s" % (x, printer))

I just printed 10 pages to the printer Dell

In [26]:
# format method
print("I just printed {0} pages to the printer {1}".format(x, printer))
print("I  just printed {x} pages to the printer {printer}".format(x=7, printer="Dell"))

I just printed 10 pages to the printer Dell
I  just printed 7 pages to the printer Dell

In [27]:
# f-string
print(f"I just printed {x} pages to the printer {printer}")

I just printed 10 pages to the printer Dell

In [28]:
#String Concatenation
a='10'
print(a+a)

1010

In [30]:
print('10'+10) # cannot concatenate values of different types.

TypeError: can only concatenate str (not "int") to str

### 3. Python Lists

In [32]:
# it may contain different types of values.
# To define a list, you must put values separated with commas in square brackets. 
# You don’t need to declare a type for a list either.

days=['Monday','Tuesday',3,4,5,6,7]
days

['Monday', 'Tuesday', 3, 4, 5, 6, 7]

In [38]:
#Slicing a List
print(days[1:3])
print(days[2:6])
print(days[:2])

['Tuesday', 3]
[3, 4, 5, 6]
['Monday', 'Tuesday']

In [39]:
#Length of a List
len(days)

7

In [40]:
#Reassigning Elements of a List as lists are mutable
days[2]='Wednesday'
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7]

In [51]:
#Iterating on the List
nums = [1,2,5,6,8]
for n in nums:
    print(n)

1
2
5
6
8

In [55]:
#Multidimensional Lists

a=[[1,2,3],[4,5,6]]
print(a)
print(a[1][2])
print(a[0][1])

[[1, 2, 3], [4, 5, 6]]
6
2

### 4. Python Tuples

In [59]:
#A tuple is like a list. You declare it using parentheses instead.
subjects=('Physics','Chemistry','1')
subjects

('Physics', 'Chemistry', '1')

In [58]:
#Accessing and Slicing a Tuple
subjects[1]

'Chemistry'

In [60]:
subjects[0:2]

('Physics', 'Chemistry')

In [61]:
#A tuple is Immutable
subjects[2]='Biology'

TypeError: 'tuple' object does not support item assignment

### 5. Dictionaries

In [66]:
#A dictionary holds key-value pairs. Declare it in curly braces, 
#with pairs separated by commas. Separate keys and values by a colon(:).

person={'city':'Ahmedabad','age':7}
person

{'city': 'Ahmedabad', 'age': 7}

In [67]:
# Accessing a Value
person['city']

'Ahmedabad'

In [68]:
#Reassigning Elements -- Dictionary is mutable
print(person['age'])
person['age']=21
print(person['age'])

7
21

In [70]:
#List of Keys
#Use the keys() function to get a list of keys in the dictionary.
person.keys()

dict_keys(['city', 'age'])

### 6. bool

In [72]:
#A Boolean value can be True or False.
a=2>1
print(a,type(a))

True <class 'bool'>

### 7. Sets

In [74]:
#A set can have a list of values. Define it using curly braces.
a={1,2,3}
a

{1, 2, 3}

In [76]:
#It returns only one instance of any value present more than once.
a={1,2,2,3}
a

{1, 2, 3}

In [77]:
#However, a set is unordered, so it doesn’t support indexing.
a[2]

TypeError: 'set' object is not subscriptable

In [80]:
#Also, it is mutable. You can change its elements or add more. Use the add() and remove() methods to do so.
a={1,2,3,4}
print(a)
a.remove(4)
print(a)
a.add(5)
print(a)

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 5}

# Type Conversion

In [87]:
print("1. int()")
print("3.7 [float] to [int] --> ",int(3.7))
print("True [bool] to [int] --> ",int(True))
print("77 [numeric string] to [int] --> ",int("77"))

1. int()
3.7 [float] to [int] -->  3
True [bool] to [int] -->  1
77 [numeric string] to [int] -->  77

In [88]:
# can not convert alphanumeric strng to int
int("str1")

ValueError: invalid literal for int() with base 10: 'str1'

In [91]:
print("1. float()")
print("7 [int] to [float] --> ",float(7))
print("True [bool] to [float] --> ",float(True))
print("77 [numeric string] to [float] --> ",float("77"))

1. float()
7 [int] to [float] -->  7.0
True [bool] to [float] -->  1.0
77 [numeric string] to [float] -->  77.0

In [92]:
#can also use ‘e’ to denote an exponential number.
float("2.1e-2")

0.021

In [93]:
# can not convert alphanumeric strng to float
float("str1")

ValueError: could not convert string to float: 'str1'

In [98]:
print("3. str()") #It converts the value into a string.
print(str(2.1))
print(str(True))
print(str([2,3,4])) #can also convert a list, a tuple, a set, or a dictionary into a string.

3. str()
2.1
True
[2, 3, 4]

In [103]:
print("4. bool()")
print("3 --> ",bool(3))
print("0 --> ",bool(0))
print("0.1 --> ",bool(0.1))
print("[1,2] --> ",bool([1,2])) #can convert a list into a Boolean.

4. bool()
3 -->  True
0 -->  False
0.1 -->  True
[1,2] -->  True

In [108]:
# function returns False for empty constructs.
print(" --> ",bool())
print("[] --> ",bool([]))
print("{} --> ",bool({}))
print("None --> ",bool(None))

 -->  False
[] -->  False
{} -->  False
None -->  False

In [110]:
print("5. set()") #It converts the value into a set.
print(set([1,2,2,3]))

5. set()
{1, 2, 3}

In [113]:
print("6. list()") 
print(list("123"))
print(list({1,2,2,3}))
print(list({"a":1,"b":2}))

6. list()
['1', '2', '3']
[1, 2, 3]
['a', 'b']

In [116]:
list({a:1,b:2})

TypeError: unhashable type: 'set'

In [119]:
print("7. tuple()")
print(tuple({1,2,2,3}))
print(tuple(list(set([1,2]))))

7. tuple()
(1, 2, 3)
(1, 2)

# Python Local and Global Variables

1. Python Local Variables
When you declare a variable in a function, class, or so, it is only visible in that scope. If you call it outside of that scope, you get an ‘undefined’ error.

In [121]:
def func1():
  uvw=2
  print(uvw)
func1()

2

In [122]:
uvw

NameError: name 'uvw' is not defined

2. Global Variables
When you declare a variable outside any context/scope, it is visible in the whole program.

In [123]:
>>> xyz=3
>>> def func2():
  xyz=0
  xyz+=1
  print(xyz)
>>> func2()

1

In [124]:
print(xyz)

3

You can use the ‘global’ keyword when you want to treat a variable as global in a local scope.

In [125]:
>>> foo=1
>>> def func2():
  global foo
  foo=3
  print(foo)
>>> func2()

3

In [126]:
foo

3